<section class="hero is-link is-medium">
  <div class="hero-body">
    <p class="title">
      This is a demo application
    </p>
    <p class="subtitle">
      The most interesting env in the world:
      <% @myenv.each do |k, v| %>
        <br>
        <%= k %>: <%= v %>
      <% end %>
    </p>
  </div>
</section>
