<section class="hero is-link is-medium">
  <div class="hero-body">
    <p class="title">
      Demo Application
    </p>
    <div class="container">
      <hr>
      <h2 class="title">The most interesting env in the world</h2>
      <hr>
      <table class="table is-hoverable has-background-link has-text-success">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Value</th>
              </tr>
          </thead>
          <tbody>
              <% @myenv.each do |k, v| %>
                  <tr>
                      <td><%= k %></td><td><%= v %></td>
                  </tr>
              <% end %>
          </tbody>
      </table>
    </div>
  </div>
</section>
